#root {
width: 100%;
 height: 100vh;
  text-align: center;
}
.navbar{
  background-color:darkviolet !important;
}
.collapse{
  background-color: darkturquoise !important;
  border-radius: 25px;
}

.collapse a{
  
 display: flex;
 justify-content:center ;
}